<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado Items</title>
    <link rel="stylesheet" href="/Allitems.css">
</head>
<body>

<h1 th:text="${titulo}"></h1>

<table>
    <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Precio</th>
        <th>Categoria</th>
        <th>Descripción</th>
        <th>Imagen</th>
    </tr>
    <tr th:each="item:${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.title}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.category}"></td>
        <td th:text="${item.description}"></td>
        <td> <img th:src="${item.image}" width="150" alt="imagenProductos"> </td>
    </tr>
</table>

</body>
</html>